@import 'assets/fonts/fonts.css';

// Colors
$color-green: #09B284;
$color-red: #F94144;
$color-darkgray: #4B4A5B;
$default-text-color: #4B4A5BCC;
$color-black: #000000;
$color-white: #FFFFFF;
$color-bgLight: #FFFBF7;

// Fonts
$primary-font: Inter, sans-serif;

// Sizes
$small-font-size: 14px;
$basic-font-size: 16px;
$large-font-size: 20px;
$basic-space: 8px;
//$basic-indent: 15px;

// Screen width for media queries
$xs: 425px;
$sm: 640px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1450px;
$hd: 1650px;
$fhd: 2100px;
