@import 'styles/variables';

.wrapper {
  :global {
    .image_block, .form_block {
      width: 100%;
      flex: 0 0 100%;
      height: 100vh;
      overflow: auto;
      @media (min-width: $xl) {
        width: 50%;
        flex: 0 0 50%;
      }
    }
    .image_block {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 1.5rem 2rem;
      @media (max-width: $xl) {
        height: auto;
        background-image: none !important;
      }
    }
    .form_block {
      padding: 3.5rem 2rem;
      @media (max-width: $xl) {
        height: auto;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      .form-wrapper {
        max-width: 23.5rem;
        margin-left: auto;
        margin-right: auto;
        .auth-form {
          .label {
            margin-bottom: 1rem;
            @media (min-width: $xl) {
              margin-bottom: 2rem;
            }
            input {
              padding-bottom: 0.5rem;
              @media (min-width: $xl) {
                padding-bottom: 1rem;
              }
            }
            &.email {
              &::before {
                content: url('/icons/email.svg');
                position: absolute;
                top: 0.65rem;
                left: 0;
                opacity: 0.8;
              }
              input {
                padding-left: 2rem;
              }
            }
            &.password {
              &::before {
                content: url('/icons/lock.svg');
                position: absolute;
                top: 0.65rem;
                left: 0;
                opacity: 0.8;
              }
              input {
                padding-left: 2rem;
              }
            }
          }
        }
        .content-line {
          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 1rem;
            top: 0.9rem;
            width: 40%;
            height: 1px;
            background-color: rgba(75, 74, 91, 0.2);
          }
          &::after {
            content: '';
            display: block;
            position: absolute;
            right: 1rem;
            top: 0.9rem;
            width: 40%;
            height: 1px;
            background-color: rgba(75, 74, 91, 0.2);
          }
        }
        .btn-google {
          position: relative;
          &::before {
            content: url('/icons/Google.svg');
            position: absolute;
            top: 50%;
            left: 6%;
            margin-top: -12px;
          }
        }
      }
    }
  }
}
