@import 'styles/variables';

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1.5rem;
  :global {
    .social-item + .social-item {
      margin-left: 1rem;
    }
    .social-item{
      svg {
        transition: all 0.2s linear;
      }
      &:hover {
        svg {
          transform: scale(1.3);
        }
      }
    }
    .footer-links {
      a + a, span + span {
        display: inline-block;
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        padding-left: 1.75rem;
        margin-left: 1.75rem;
      }
    }
    @media (max-width: $lg) {
      .copyright {
        width: 100%;
        text-align: center;
      }
      .contacts, .social, .footer-links {
        display: none;
      }
    }
  }
}

.mobileFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(75, 74, 91, 0.2);
  z-index: 10;
  :global {
    .menu-wrapper {
      display: none;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 72px;
      right: 0;
      bottom: 89px;
      left: 0;
      &.open {
        display:flex;
      }
      .mainMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .menu_link {
          color: #4B4A5B;
          font-weight: 600;
          padding-top: 16px;
          padding-bottom: 16px;
          border-bottom: 1px solid rgba(75, 74, 91, 0.1);
        }
      }
      .media-icons {
        //border-top: 1px solid rgba(75, 74, 91, 0.2);
        border-bottom: 1px solid rgba(75, 74, 91, 0.2);
        .social-item + .social-item {
          margin-left: 1rem;
        }
      }
      .logout-link {
        font-weight: 600;
      }
    }
  }
}