
.details {
  position:absolute;
  padding: 24px;
  width: 344px;
  box-sizing: border-box;
  background: #ffffffd6;
  border-radius: 15px;
  box-shadow: 0 0 3px #00000017;
  @media (max-width: 365px) {
    width: 300px;
    background-position-y: 8px;
  }
  :global {
    .textContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      .textTitle {
        font-style: normal;
        font-weight: bold;
        font-size: 1.0625rem;  // 17px
        min-height: 2.5rem;
        max-height: 2.7rem;
        overflow: auto;
        margin-bottom: 1.5rem;
        padding-right: 2rem;
      }
      .svg-wrap {
        position: absolute;
        top: 0;
        right: 0;
      }
      .contentTitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color:#4B4A5B;
        margin-bottom: 8px;
      }
    }
    .contentInfo {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 180%;
      color:#4B4A5B;
    }
    img {
      width: 25px;
      height: 15px;
    }
    .marker {
      width: 12px;
      height: 12px;
      background: #F94144;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(50%, 10px);
      z-index: 1;
      &:hover{
        cursor:pointer;
      }
      @media (max-width: 365px) {
        transform: translate(50%, 10px);
        width: 10px;
        height: 10px;
      }
    }
    .marker_wrap{
      width: 34px;
      height: 24px;
      background-image: url('/icons/tooltip_part.svg');
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-50%, 23.8px);
      left: 50%;
    }
  }
}
